* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100;
    min-height: 100vh;
    background-color: lightpink;
    background-image: url(/Images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headline {
    display: flex;
    margin-bottom: 0rem;
    padding-top: 0px;
    margin-top: 60px;
    position: relative;
    top: -45px;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

img {
    padding-left: 0px;
    width: 520px;
    height: 320px;
    border-radius: 10px;
}

ul{
    display: inline-flex;
    justify-content: center;
}

ul li {
    display: block;
    list-style-type: none;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding: 5px black;
    background-color: slateblue;
    color: lightpink;
    border-radius: 5px;
    width: 100px;
}

li span{
    display: block;
    font-size: 3rem;
    color: lightpink;
}

li:first-of-type {
    margin-right: 1.5rem;
}

li.separator {
    margin: 0 10px;
    font-size: 3rem;
    line-height: 1;
    color: lightpink;
    width: 0px;
}

@media screen and (max-width: 450px) {
    .container {
        display: block;
        width: 92vw;
    }
    img {
        max-width: 360px;
        border-right: 10px;
    }
    #headline {
        font-size: 25px;
        display: flex;
        margin-top: 65px;
        margin-bottom: 0px;
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    p {
        text-align: justify;
    }
    ul {
        max-width: 92vw;
    }
    ul li {
        display: inline;
        max-width: 95px;
        max-height: 95px;
        font-size: 1rem;
    }
    li:first-of-type {
        font-size: 1rem;
    }
    li span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 280px) {
    img {
        display: flex;
        max-width: 90vw;
        max-height: 200px;
        border-radius: 8px;
        position: relative;
        top: -60px;
    }
    #headline {
        font-size: 25px;
        display: flex;
        position: relative;
        top: -95px;
        margin-top: 60px;
        margin-bottom: 0px;
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    #countdown {
        margin-bottom: 0px;
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    section {
        margin-bottom: 0px;
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    p {
        display: flex;
        margin-top: 0px;
        border-top: 0px;
        font-size: 18px;
        position: relative;
        top: -60px;
    }
    ul {
        display: flex;
        position: relative;
        top: -60px;
        width: 93vw;
        font: 0.5rem;
    }
    ul li {
        display: inline;
        max-width: 93px;
        font-size: 0.5rem;
    }
    li:first-of-type {
        display: inline;
        max-width: 93px;
        font-size: 0.5rem;
    }
    .separator {
        width:0px
    }
    li.span {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        place-items: center;
        width: 92vw;
    }
    img {
        width: 425px;
    }
}
